# Team Algaerithms Inc.
# Dhairya Pal N01576099
# Dharmik Shah N01581796
# Sanskriti Mansotra N01523183
# Julian Aldrich Imperial N01638310

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
